name: CD

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  deploy:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install # necessário caso haja alteração nas dependências do projeto

      - name: Deploy the application
        uses: burnett01/rsync-deployments@5.1
        with:
          switches: -avzr --delete
          path: ./*
          remote_path: /opt/cesusc-devops/ # Pasta onde está o nosso projeto
          remote_host: <IP Publico da Instancia> # Aqui vai o IP da instância EC2
          remote_user: ubuntu
          remote_key: "${{ secrets.SSH_PRIVATE_KEY }}"